# ignore all the pickles
*.pkl

# ignore py cache
__pycache__
.ipynb_checkpoints/

# ignore all files under data directory
data/game*
*.pkl
#*.png
*.mp4

# tensorflow model files
checkpoint
*.data-*
*.meta
*.index

# tensorboard logs
events.*

# logging
*.log

# ipynbs
#*.ipynb
